.imagen {
  width: 300px;
  height: 300px;
  align-self: center;
}
img {
  align-items: center;
  justify-content: center;
  border-radius: 0 0 40px 40px;
}
.bug {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #92bd2d;
  border-radius: 0 0 40px 40px;
}
.dark {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #595761;
  border-radius: 0 0 40px 40px;
}
.dragon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0c6ac8;
  border-radius: 0 0 40px 40px;
}
.electric {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2d94e;
  border-radius: 0 0 40px 40px;
}
.fairy {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ef90e6;
  border-radius: 0 0 40px 40px;
}
.fighting {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3425f;
  border-radius: 0 0 40px 40px;
}
.flying {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a1bbec;
  border-radius: 0 0 40px 40px;
}
.ghost {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5f6dbc;
  border-radius: 0 0 40px 40px;
}
.ground {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #da7c4d;
  border-radius: 0 0 40px 40px;
}
.ice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #76d1c1;
  border-radius: 0 0 40px 40px;
}
.normal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a0a29f;
  border-radius: 0 0 40px 40px;
}
.poison {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b763cf;
  border-radius: 0 0 40px 40px;
}
.psychic {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fa8582;
  border-radius: 0 0 40px 40px;
}
.rock {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c9bc8a;
  border-radius: 0 0 40px 40px;
}
.steel {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5795a3;
  border-radius: 0 0 40px 40px;
}
.grass {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #60bd58;
  border-radius: 0 0 40px 40px;
}
.water {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #539ddf;
  border-radius: 0 0 40px 40px;
}
.fire {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fba64c;
  border-radius: 0 0 40px 40px;
}
.missingno{
    display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border-radius: 0 0 40px 40px;
}